@font-face {
  font-family: noto;
  src: url(Fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: noto;

}

.headr {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('Images/bg1.jpg');
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: right;



}

.myCard {
  background: transparent !important;
  border: none !important;
  box-shadow: 10px 10px 20px #2d33a1;
  backdrop-filter: blur(5px);

}

.imgg {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  width: 100%;

}

.imG {

  width: 50%;
  display: flex;
  justify-content: center;

}

.imG img {
  width: 50%;


}

.inpt input {
  border-radius: 20px !important;
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  border: none;
  backdrop-filter: blur(12px);
  margin: 30px 5px;
  font-size: 18px;
  font-style: oblique;
  box-shadow: 10px 10px 20px #000000c8 !important;



}

.inpt input:focus {
  background: linear-gradient(135deg,
      #ffffffd2,
      #04054ae1,
      #110215,
      #2d1767);
  color: black;
  font-size: 18px;
  font-weight: bold;
  border: none !important;
  outline: none !important;
  box-shadow: 5px 5px 30px #ffffff9c !important;
}

.inpt input::placeholder {
  color: #EAEAEA;
}

.inpt button {
  margin: 30px 5px;
  background: linear-gradient(135deg,
      #ffffffd2,
      #04054ae1,
      #110215,
      #2d1767);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px !important;
  box-shadow: 10px 10px 20px #000000c8;
  transition: all 0.25s ease;
}

.inpt button i {
  font-size: 40px;
}

.inpt button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 28px #ffffff9f;
}

.inpt button:active {
  transform: scale(0.96);
}

.clouds {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  font-weight: bold;
  align-items: center;


}

.temp {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 20px;
  font-weight: bold;



}

.cityname {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.cityname i {
  font-size: 25px;
  color: #fff;


}

.speed {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;

}

.humdty,
.wind {
  display: flex;
  align-items: center;
  gap: 10px;

}

.humdty img,
.wind img {
  width: 35px;


}


.search p{
   font-size: 16px;
 font-weight: bold;
color: #fff;
  
}
.search img {
  width: 100%;


}


