*{
box-sizing: border-box;
padding: 0;
margin: 0;

}

.headr{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    


}
.myCard{
    background-color: #ab6565 !important;

    
    
    
    
}
.imG{
    width:30%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.imG img{
    width: 100%;
    height: 100%;
    
}